<div class="row">
    <form class="col s12">
        <div class="input-field col s6">
          <input placeholder="Email address" id="email" type="text" ng-model="account.email">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <input id="password" type="text" ng-model="account.password">
          <label for="password">Password</label>
      </div>
      <a class="waves-effect waves-teal teal lighten-1 btn" ng-click="login()">Login</a>
      <a class="waves-effect waves-teal btn teal lighten-1" ng-click="register()">Register</a>
  </form>
</div>