<h1>My cards</h1>
  <div class="row">
   <div ng-repeat="kitten in userCards">
      <div class="col s12 m6">
       <div class="card-panel purple">
         <div class="card-content white-text">
          <span class="card-title">{{kitten.name}}</span>
          <div>Description: {{kitten.description}}</div>
          <div>Cost: {{kitten.cost}}</div>
          <div>Time: {{kitten.time}}</div>
          <div>Location: {{kitten.location}}</div>
          <a class="waves-effect waves-light btn" ng-click="getSingleCard(kitten)" ng-href="#/cards/userCards/{{kitten.id}}/edit">Edit card</a>
          <a class="waves-effect waves-light btn" ng-click="deleteCard(kitten)">Delete card</a>
         </div>
       </div>
      </div>
    </div>
  </div>