 			<nav>
    		<div class="nav-wrapper" ng-controller="LoginCtrl">
      		<a href="#" class="brand-logo">C'mon, get happy!</a>
      			<ul id="nav-mobile" class="right hide-on-med-and-down">
        			<li class><a ng-href="#/login">Login</a></li>
        			<li class><a ng-href="#/cards/all">View Public Cards</a></li>
        			<li class=><a ng-href="#/cards/add">Add a card</a></li>
        			<li class=><a ng-href="#/cards/user">View my cards</a></li>
        			<li><a ng-href="#/logout">Logout</a></li>
      			</ul>
    		</div>
  		</nav>